<style>
body{
  margin:0;
}
  a {
    color:black;
    text-decoration: none;
  }
  span{
     font-size:35px;
    text-align:left;
    border:2px solid gray;
    margin:0;
    padding:15px;
    color:orange;
  }
  input{
    text-align:right;
  }
  button{
    float:right  gray;
  }
  #grid{
    display: grid;
    grid-template-columns: 208px 1fr;
  }
  #article{
    padding-left:25px;
  }
  @media(max-width:800px) {
    #grid{
      display: block;
    }
    ol{
      border-right:none;
    }
    h1{
border-bottom:none;
      }
  }
</style>
